<style>
    .total-orders{
    background-color: #4cb4c7;
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    }

</style>
<div class="row">
    <div class="col">
        <div class="card  text-white  total-orders" id="total-orders">
            <div class="card-header ">
                <h5 text-align="center">Total de usuarios:</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{usuarios_totales}}</h3>
            </div>
        </div>
    </div>
</div>